@media only screen and (max-width: 1200px) {
    .whatwedo_section .container {
        justify-content: center;
    }

    .toolweuse_text h3 {
        font-size: 25px;
    }

    .owl-nav {
        display: inherit;
    }
}

@media only screen and (max-width: 1024px) {
    .toolsweuse_container {
        justify-content: center;
        flex-direction: column;
    }

    .toolweuse_text {
        margin-bottom: 50px;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }

    .toolsweuse_photo {
        max-width: inherit;
    }
}

@media only screen and (max-width: 992px) {
    body.nav-active .menu-icon{
        position: fixed;
        right: 38px;
    }
    header .container {
        justify-content: center;
    }
    .logo-wrap {
        top: 0;
        left: -60px;
    }

    .nav__list-item:first-of-type a {
        font-style: normal;
        font-size: 19px;
        margin-right: 0;
    }
    .nav__list-item:last-of-type a {
        font-style: normal;
        font-size: 30px;
        padding: 20px 20px
    }

    .header-wrapper {
        width: calc(100% - 100px);
        min-height: 30px;
    }

    .nav-but-wrap {
        display: inline-block;
        padding-top: 0;
    }

    .nav {
        position: fixed;
    }

    .nav__content {
        position: fixed;
        visibility: hidden;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        margin-top: 0px;
        top: 45%;
    }

    .nav__list-item {
        opacity: 0;
        margin-left: inherit;
        margin-bottom: 25px;
        line-height: 2;
    }

    .nav__list {
        align-items: inherit;
        display: inherit;
    }
}

@media only screen and (max-width: 767px) {

    .fourth-banner .container h2 {
        font-size: 35px;
    }

    .last-banner .container h2 {
        font-size: 35px;
    }

    .main-banner h1 {
        font-size: 40px;
    }

    .second-banner {
        text-align: center;
        justify-content: center;
        padding-right: 0;
    }

    .third-banner {
        text-align: center;
        justify-content: center;
        padding-right: 0;
    }

    .third-banner .components {
        right: 20px;
    }

    .fifth-banner {
        text-align: center;
        justify-content: center;
        padding-right: 0;
    }
}

@media only screen and (max-width: 420px) {
    .fourth-banner .container h2 {
        font-size: 30px;
    }

    .last-banner .container h2 {
        font-size: 30px;
    }

    .main-banner h1 {
        font-size: 35px;
    }

    .whatwedo_section .whatwedo_text H3 {
        font-size: 30px;
    }

    .whatwedo_section .whatwedo_text {
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    .fourth-banner .container h2 {
        font-size: 25px;
    }

    .last-banner .container h2 {
        font-size: 25px;
    }

    .main-banner h1 {
        font-size: 30px;
    }

    .whatwedo_section .whatwedo_text H3 {
        font-size: 25px;
    }

    .whatwedo_section .whatwedo_text p {
        font-size: 18px;
    }

    .fourth-banner .container p {
        font-size: 18px;
    }

    .last-banner .container p {
        font-size: 18px;
    }

    .components li {
        font-size: 11px;
    }
}

